.campanies {
    padding: 0 0 5rem 0;

    &__logo-box {
        max-width: 100%;
        height: 3rem;
        margin-bottom: 2rem;
        padding: 0.5rem;
        text-align: center;
        position: relative;

        img {
            width: auto; /* Menyesuaikan lebar gambar agar konsisten */
            height: 100%;
            object-fit: contain; /* Untuk memastikan gambar tetap proporsional di dalam elemen */
            display: block; /* Menghilangkan space ekstra di bawah gambar */
            margin: 0 auto; /* Memastikan gambar berada di tengah */
            
            &:hover {
                filter: grayscale(120);
            }
        }
    }
}
